# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg

# 虚拟环境
venv/
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# 日志
logs/
*.log

# 操作系统
Thumbs.db
.DS_Store

# 运行环境及自动生成文件 (大文件)
oracle_client/
models/auto_build/
scripts/compare_result.txt
